<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="backend/common/head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header th:replace="backend/common/header :: header"></header>
  <aside th:replace="backend/common/leftSidebar :: aside"></aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section  layout:fragment="content" class="content container-fluid"></section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="backend/common/footer :: footer"></footer>

  <aside th:replace="backend/common/setSidebar :: aside"></aside>

  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<th:block th:include="backend/common/foot"></th:block>

</body>
</html>